.block-heading-download{
    padding-top:50px;
    margin-bottom: 1.2rem;
    text-align:center
}.clean-block

.block-heading-download p{
    text-align:center;
    max-width:700px;
    margin:auto;
    opacity:.7}.clean-block
    
.clean-block.dark .block-heading p{opacity:.8}.clean-block .block-heading h1,.clean-block .block-heading .h1,.clean-block .block-heading h2,.clean-block .block-heading .h2,.clean-block .block-heading h3,.clean-block .block-heading .h3{margin-bottom:1.2rem}.clean-block